{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'perfil/style.css' %}">

    <title>Team Member Profile Card</title>
</head>


   <body>
       <section class="menu">
           <a href="" class="menu-item" id="about"> <i class="fas fa-user"></i> About       </a>
           <a href="" class="menu-item" id="about"> <i class="fas fa-feather-alt"></i> Skills       </a>
           <a href="" class="menu-item" id="about"> <i class="fas fa-list-alt"></i> Resume      </a>
           <a href="" class="menu-item" id="about"> <i class="fas fa-tasks"></i> Works       </a>
       </section>

       <section class="profile">
           <div class="img-container"></div>
           <div class="profile-body">
               <p class="name">Jose Alberto</p>
               <div class="sociales">
                   <a href=""><i class="fab fa-facebook-f"></i></a>
                   <a href=""><i class="fab fa-linkedin-in"></i></a>
                   <a href=""><i class="fab fa-github"></i></a>
               </div>
              
           </div>
           <div class="actions">
            <button>Descargar CV</button>
            <button>Contactame </button>
        </div>

       </section>

       <section class="main">
           <section class="asst split about" id="about-section">
               <p class="title section-item"><span>About</span> me</p>
               <div class="asset-body">
                   <div class="section-item">
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Ducimus mollitia cupiditate odit? Tempore vel aperiam reprehenderit vero 
                        debitis eius, similique, nostrum voluptates illum architecto earum
                        consequatur dolor atque error reiciendis?</p>
                   </div>
                   <div class="section-item">
                       <div class="item">
                           <label for="">Age <span>......</span></label>
                           <p class="value">36</p>
                       </div>
                       <div class="item">
                           <label for="">Country <span>......</span></label>
                           <p class="value">Mexico</p>
                       </div>
                       <div class="item">
                           <label for="">Remote <span>......</span></label>
                           <p class="value">Avalable</p>
                       </div>
                   </div>
               </div>

           </section>
       </section>
   </body>

</html>